body {
    background-color: rgb(84, 186, 185);
}

html{
    scroll-behavior: smooth;
  }

.navbar {
    padding-left: 100px;
    position: relative;
    margin: 0;
    display: flex;
    height: fit-content;
    font-size: 40px;
    background-color: rgb(84, 186, 185);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bolder;
    align-items: center;
}

.body {
    margin: 0px;
    background-color: rgb(158, 210, 198);
    padding-left: 200px;
    font-size: 30px;
    padding-right: 200px;
    font-family: monospace;
    align-items: center;
    font-weight: bolder;
    text-align: center;
}

.body .information {
    color: gray;
}

.button a:hover {
    background-color: black;
    color: antiquewhite;
}



input[type="checkbox"] {
    border: none;
    cursor: pointer;
    background-color: aqua;
    -webkit-background-clip: aqua;
}

input[type=checkbox] {
    position: relative;
    bottom: 8px;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid rgb(40, 40, 40);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.test>.question {
    margin-top: 50px;
}
.question {
    color: rgb(39, 132, 154);
    display: block;
    background-color: rgb(218, 229, 208);
    padding: 20px;
    text-align: justify;
    justify-content: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 30px;
    text-align: center;
}

.question {
    margin: 10px;
}
input[type="radio"] {
    border: 1px;
    border-color: black;
    border-width: 1px;
}
.test>div {
    text-align: justify;
}


.answer>* {
    padding-top: 10px;
}
.test>div>.answers {}

.test>div>.answers>* {
    border-color: #555555;
    padding-top: 25px;
    justify-content: center;
}

.test {
    margin-top: 20px;
}

.content {
    font-size: larger;
    padding-top: 10px;
    text-align: center;
}


.button {
    padding: 30px;
    align-items: center;
    text-align: center;
       
}

.button a {
    padding: 10px;
    text-decoration: none;
    color: rgb(87, 143, 156);
    background-color: rgb(218, 229, 208);
}

.kiemtra {
    background-color: rgb(218, 229, 208);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius:8px;
    padding:10px 10px 45px 15px

}

.kiemtra:hover {
    background-color: rgb(233, 218, 193);
    cursor: pointer;
    color: rgb(36, 36, 36);
}

.shows {
    background-color: rgb(84, 186, 185);
    margin-top: 50px;
    padding: 0px 20px 0px 20px; 


}
.title{
    display:flex;
}
.title>div{
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    margin-top: 50px;
    
}
span{
    float: right
}
.close {   
    float: center;
    font-size: 50px;
    font-weight: bold;
    color: #000;  
    padding: 20px
  }  
  .close:hover,
  .close:focus {
    color: wheat;
    text-decoration: none;
    cursor: pointer;
  }

 #show {
    justify-content: center;
    display: flex;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    background-color: rgb(84, 186, 185);
}

#showimg {
    align-items: center;
    align-content: center;
    text-align: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-bottom: 80px; 
    
  }
  
  /* Modal Content */
  .modal-content {
    
    background-color: #fefefe;
    margin: auto;
    padding: 35px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    
    
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 49px;
    font-weight: bold;
    margin: -30px -10px 0px 0px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
